.formRow {
  margin-bottom: 4px;
}
.formLabel {
  display: block;
}
.formInput {
  padding-block: 8px;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  &:focus {
    outline: 2px solid #4f46e5;
    outline-offset: 1px;
  }
}
