.wrapper {
  width: 400px;
  margin: 20px auto;
}
.form {
  max-width: 100%;
  font-size: 20px;
}
.postalButtonContainer {
  display: flex;
  flex-direction: row-reverse;
}
.button {
  font-size: 16px;
  padding: 8px 20px;
}
.postalButton {
  width: 260px;
}
.submitButton {
  margin-top: 20px;
}
.errorContainer {
  min-height: 1.5rem;
  margin-top: 0.25rem;
}
.error {
  color: red;
  font-size: 12px;
  line-height: 1.5rem;
  margin: 0;
}

.formRow {
  margin-bottom: 4px;
}
.formLabel {
  display: block;
}
.formInput {
  padding-block: 8px;
  width: 100%;
  max-width: 100%;
  &:focus {
    outline: 2px solid #4f46e5;
    outline-offset: 1px;
  }
}
